$fontStack: 'Chivo', sans-serif;
$backgroundColorTransparent: rgb(18, 23, 37, 0.9);
$colorGreen: #54E6AF;
$colorWhite: #FFFFFF;
$colorText: #C2CBE5;
$colorInput: #2C344B;
$colorDark: #121725;

body {
    font-family: $fontStack;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    background-color: $colorDark;
    background-size: cover;
    background-image: url("../mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (min-device-width: 768px) {
        background-image: url("../tablet/image-host.jpg");
    }

    @media only screen and (min-device-width: 1440px) {
        background-image: url("../desktop/image-host.jpg");
    }

    .section {
        height: 100%;
        width: 100%;
        background-color: $backgroundColorTransparent;
        display: flex;
    
        .all-content {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-width: 375px;
    
            @media only screen and (max-device-width: 320px) {
                padding: 0 10px;
            }

            .logo {
                padding-top: 62px;
                text-align: center;
            }
    
            .container {
                width: 100%;
                max-width: 327px;
                margin: 57px auto 0 auto;

                @media only screen and (max-device-width: 320px) {
                    margin-top: 35px;
                }

                .heading {
                    color: $colorGreen;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-align: center;
                    font-size: 26px;
                    line-height: 38px;
    
                    .heading-2 {
                        color: $colorWhite;
                    }
                }
    
                .paragraph-text {
                    color: $colorText;
                    margin: 16px auto 0 auto;
                    text-align: center;
                    font-size: 15px;
                    line-height: 25px;
                }
    
                .container-middle {
                    max-width: 315px;
                    width: 100%;
                    margin: 0 auto;
                    padding-top: 33px;
                    display: flex;
    
                    @media only screen and (max-device-width: 320px) {
                        display: block;
                    }
    
                    .left-images {
                        display: inline-flex;

                        @media only screen and (max-device-width: 320px) {
                            width: 100%;
                            text-align: center;
                            display: block;
                            padding-bottom: 10px;
                        }

                        .spotify {
                            width: 56px;
                            margin: 0;

                            @media only screen and (max-device-width: 220px) {
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 10px;
                            }
                        }

                        .apple-podcast {
                            width: 45px;
                            margin-left: 23px;

                            @media only screen and (max-device-width: 220px) {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    
                    .right-images {
                        display: inline-flex;

                        @media only screen and (max-device-width: 320px) {
                            width: 100%;
                            text-align: center;
                            display: block;
                        }

                        .google-podcasts {
                            width: 73px;
                            height: 11px;
                            margin-left: 25px;
                            margin-top: 3px;

                            @media only screen and (max-device-width: 220px) {
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 10px;
                            }
                        }
        
                        .pocket-casts {
                            width: 77px;
                            height: 15px;
                            margin-left: 16px;

                            @media only screen and (max-device-width: 220px) {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }
    
                .container-bottom {
                    width: 100%;
                    justify-content: center;
                    text-align: center;
                    margin: 48px auto 30px auto;
                    display: inline-block;
    
                    .input-email {
                        background-color: $colorInput;
                        color: $colorWhite;
                        mix-blend-mode: normal;
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: bold;
                        border-radius: 28px;
                        border: 0;
                        padding-left: 32px;
                        max-width: 327px;
                        width: 100%;
                        height: 46px;
                        margin: 0 auto;
                        outline: none;

                        &::-webkit-input-placeholder {
                            color: $colorWhite;
                            opacity: 0.5;
                       }
                    }
    
                    .button-access {
                        background-color: $colorGreen;
                        color: $colorDark;
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: bold;
                        border-radius: 28px;
                        border: 0;
                        text-align: center;
                        max-width: 326px;
                        width: 100%;
                        height: 46px;
                        margin: 16px auto 0 auto;
                    }
                }
            }
        }
    }
}
